

.container{
    width: 260px;
    height: 360px;
    margin: 0;
    padding: 0;
    display: flex;
}

.row-a{
    display: flex;
    position: fixed;
}





.pagination span {
  margin: 0 5px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #F7C12C;
}
.pagination .prev {
  -moz-border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px 0 0 50px;
  width: 100px;
}
.pagination .next {
  -moz-border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0;
  border-radius: 0 50px 50px 0;
  width: 100px;
}
.pagination :hover {
  background-color: #FFA500;
}
.pagination .active, .modal-4 a:active {
  background-color: #FFA100;
}