

<head>
  {% load  staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


</head>
<body>
<a href="../home/home.html">
                <img class="logo" src="../../static/image/logo.png" alt="">
            </a>
            <div class="title">
                <p>photographer</p>
            </div>
            <div class="category">
                <a href="">logout</a>
                <a href="">mypage</a>
            </div>
            <div class="keywords">
                <p>keywords</p>
            </div>


   <div class="row-key">
    <a href="{% url 'photo_filter_orient' %}"><button class="sixth"> 동양풍 </button></a>
    <a href="{% url 'photo_filter_western' %}"><button class="sixth"> 서양풍 </button></a>
    <a href="{% url 'photo_filter_classic' %}"><button class="sixth"> 고전 </button></a>
    <a href="{% url 'photo_filter_modern' %}"><button class="sixth"> 현대 </button></a>
   </div>

    <div class="uploadpost">
        <a href="{% url 'post' %}"><button class="sixth">Upload Image</button></a></div>

<div class="array">
                {% for photo in object_list %}
                        <div class="card">
                            <div class="box-1">
                                <img src="{{ photo.thumbnail.url }}" width="200" height="250" alt = "{{ photo.title }}">
                            </div>
                            <div class="box-2">
                                <h4>{{ photo.title }}</h4>
                                <a href="{% url 'photo_detail' photo.id %}"><p>{{ photo.text|slice:":15" }}...more</p></a>
                            </div>
                        </div>
                {% endfor %}
            </div>

<div align="center">
    {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
    {% endif %}
</div>
</body>