<!-- temlaptes/home.html -->

<head>
    {% load  staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


</head>


<body>
    <a href="{% url 'model' %}"><h1> MODEL </h1></a>
    <br>
    <h5> KEYWORDS </h5>
    <a href="{% url 'filter_orient' %}"><button> 동양풍 </button></a>
    <a href="{% url 'filter_western' %}"><button> 서양풍 </button></a>
    <a href="{% url 'filter_classic' %}"><button> 고전 </button></a>
    <a href="{% url 'filter_modern' %}"><button> 현대 </button></a>
    
    <br>
    <a href="{% url 'post' %}"><button>Upload Image</button></a>
    <br>
    <br>

    {% for western in post_western %}
        <a href="{% url 'detail' western.id %}"><img src="{{ western.thumbnail.url }}" width="350"></a>
      {{ western.title }}
      {{ western.text|slice:":10" }}
    {% endfor %}


 {% if is_paginated %}
  <ul class="pagination">
    {% if western.has_previous %}
      <li><a href="?page={{ western.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if western.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if western.has_next %}
      <li><a href="?page={{ western.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</body>